devresume/settings.py
tmp/
temp/
cache/
resumeapp/migrations
.idea
__pycache__/
.env

index/

_pycache_/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject

.env
*.env
config.ini
secrets.*
*.log

.DS_Store
Thumbs.db
resume_bd.sqlite3